body {
  text-align: center;
  background-image: url(djBg.jpeg);
}

#board {
  background-image: url(doodlejumpbg.png);
  border: 5px solid #000; /* Set the border width and color */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}