@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  scroll-behavior: smooth;
}

/* Custom styles added*/
@layer components {
  .container-center {
    @apply flex flex-col items-center justify-center;
  }

  .center-vertical {
    @apply flex flex-col justify-center;
  }

  .btn-white {
    @apply bg-white text-black px-4 py-1.5 rounded-md my-4;
  }

  .btn-black {
    @apply bg-black text-white px-4 py-1.5 rounded-md my-4;
  }

  .btn-blue {
    @apply bg-white text-black px-4 py-1.5 rounded-md my-4;
  }

  .btn-wht2blk-outline {
    @apply bg-gray-100 text-black px-4 py-1.5 rounded-md my-4 hover:ring-2 hover:ring-black hover:font-semibold hover:shadow-lg hover:shadow-gray-400 ring-2 ring-black;
  }

  input {
    @apply py-1.5 px-4 rounded-md my-2 hover:shadow-lg hover:shadow-gray-400 focus:shadow-lg focus:shadow-gray-400 focus:outline-1;
  }
}

h1 {
  font-size: 2.5rem;
  line-height: 2.5rem;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.5rem;
}

h3 {
  font-size: 1.25rem;
  line-height: 1.25rem;
}

a {
  color: #e77000;
  font-weight: 600;
}

a:hover {
  color: #e77000;
  text-decoration: underline;
  text-underline-offset: 0.4rem;
}

.overlay {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  clip-path: circle(200px at var(--x, 50%) var(--y, -20%));
  transition: clip-path 0.1s;
  cursor: default;
}

.loader {
  border: 4px solid #f3f3f3; /* Light gray border */
  border-top: 4px solid #3498db; /* Blue border on top */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite; /* Spin animation */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
